/node_modules/
/.vs/
/.vscode/
/target/
/logs/
/dist/
/dist-client-id/
/release/
/artifacts/
/profile-builder/
/whitelist-service/node_modules/
/whitelist-service/.wrangler/
/whitelist-service/.dev.vars*
