/node_modules/
/.vs/
/.vscode/
/target/
/logs/
/dist/
/dist-client-id/
/release/
/artifacts/
/auth-helper/**/bin/
/auth-helper/**/obj/
/auth-helper/publish/
/custom-installer/**/bin/
/custom-installer/**/obj/
/custom-installer/publish/
/profile-builder/
/whitelist-service/node_modules/
/whitelist-service/.wrangler/
/whitelist-service/scripts/.wrangler/
/whitelist-service/.dev.vars*
